@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Bangers);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);



html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      background: #101010;
}

.data {
      font-family: Courier New;
      /* font-family: 'Anonymous Pro', monospace; */
      color: #fff;
      font-size: 70px;
      letter-spacing: 12px;
      font-weight: 500;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
}

/* test for glitch */
span {
      display: inline-block;
      color: #fff;
      pointer-events: none;
}


#demo{
    position: absolute;
    font-size: 90px;
    font-family: "Bangers";
    transform: translateX(-50%);
    left : 50%;
    top: 70%;
}

.middle{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.middle1{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text{
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 14px;
}

.text1{

  font-family: 'Hanna';
  color: #fff;
  text-transform: uppercase;
  font-size: 96px;
  text-align: center;
  letter-spacing: 10px;
}

.text::before,.text::after,.text1::before,.text1::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text::before{
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.text::after{
  color: #3498db;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
  0%{
    left: -2px;
    top: -2px;
  }
  25%{
    left: 2px;
    top: 0px;
  }
  50%{
    left: -1px;
    top: 2px;
  }
  75%{
    left: 1px;
    top: -1px;
  }
  100%{
    left: 0px;
    top: -2px;
  }
}

/* Until Here */
